<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      web chat2
    </title>
  </head>
  <body>
    <ul>
      {{if .SessionInfo.IsSessionAlive}}
      <li><a href="/new">投稿</a></li>
      <li><a href="/user/mypage/{{.SessionInfo.UserID}}">マイページ</a></li>
      <li>
        <form action="/signout" method="POST">
          <input type="submit" value="ログアウト">
        </form>
      </li>
      {{else}}
      <li><a href="/signup">新規会員登録</a></li>
      <li><a href="/signin">ログイン</a></li>
      {{end}}
    </ul>
    <h1>投稿一覧</h1>
    <ul>
      {{ range .tweet }}
      <div>
          <p>{{ .UserID }}さんのツイート:{{ .Text }}</p>
          <a href="/show/{{.ID}}">詳細</a>
      </div>
      {{ end }}
    </ul>
  </body>
</html>
