<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      web chat2
    </title>
  </head>
  <body>
    <ul>
      <li><a href="/">TOP</a></li>
      <li><a href="/new">投稿</a></li>
      <li>
        <form action="/signout" method="POST">
          <input type="submit" value="ログアウト">
        </form>
      </li>
    </ul>
    <h1>{{.user.NickName}}さんのマイページ</h1>
    <h1>{{.user.NickName}}さんの投稿一覧</h1>
    <ul>
      {{range .tweets}}
      <div>
        <p>投稿者：{{.User.NickName}}</p>
        <p>{{.Text}}</p>
        <a href="/show/{{.ID}}">詳細</a>
      </div>
      {{ end }}
    </ul>
  </body>
</html>
